.box {
    background-image: url("http://putiya.com/img/sport/soccer01/soccer01_b_09.png");
    background-position:left bottom;
    background-size: cover;
}

body {
  width: 100%;
  height: 600px;
  background-size: 300px; 185px;
  background: linear-gradient(90deg, #00008b, #dc143c);
}

nav navbg
{
    color: #ffffff
}
/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: 'Impact', cursive;
}

nav .navbar-brand2
{
    font-size: large;
    font-family: 'Impact', cursive;
}

nav .navbar-brand2 .blue
{
    color: #191970;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #191970;
}
nav .navbar-brand .red
{
    color: #dc143c;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.yoko
{
    display: flex;
}

.tate
{
    display: block;
}

.wide
{
    margin-right: auto;
    margin-left: auto;
}

.username-btn
{
background-color: yellow;
}

h1
{
    color: #ffffff
}

.button010 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    transform: skew(-15deg);
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
.button010 a:hover {
  -webkit-transform: skew(0);
  transform: skew(0);
  color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}