{% extends "layout.html" %}

{% block title %}
    Create433
{% endblock %}

{% block main %}
        <div class="w-50 mb-5 mt-5 yoko wide">
            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>FW</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>FW</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>FW</option>
                    <option value="messi">Messi</option>
                </select>
            </div>
        </div>


        <div class="w-50 py-5 yoko wide">
            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>MF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>MF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>MF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>
        </div>


        <div class="w-50 mt-5 mb-5 yoko wide">
            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>DF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>DF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>DF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>

            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>DF</option>
                    <option value="messi">Messi</option>
                </select>
            </div>
        </div>


        <div class="w-50 mt-5 mb-5 yoko wide">
            <div class="tate wide">
                <img src="https://cdn.sofifa.net/players/158/023/23_60.png">
                <select class="form-select mx-auto w-auto" name="symbol">
                    <option disabled selected>GK</option>
                    <option value="messi">Messi</option>
                </select>
            </div>
        </div>
{% endblock %}